.modalContainer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  border-radius: 10px;
}

.backdropOverlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, rgba(31.5, 31.5, 52.5, 1) 20%, rgba(31.5, 31.5, 52.5, 0.84) 50%, rgba(31.5, 31.5, 52.5, 0.84) 100%);
  z-index: 11;
  border-radius: 10px;
}



.modalContent {
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  padding: 1rem;
  max-width: 100vw;
  max-width: 100dvw;
  color: #fff;
  z-index: 12;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.movieInfoTwoCol {
  display: block;
  align-items: start;
  justify-content: center;
  flex: 1;
  color: #fff;
}

@media screen and (min-width: 500px) {

  .modalContent,
  .movieInfoTwoCol {
    display: flex;
  }
}

/* Left column */

.posterContainer {
  padding: 1.2rem;
  flex: 1 1 30%;
}

.posterImage {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* Title */

h1.movieTitle {
  width: max-content;
  max-width: calc(100vw - 4rem);
  max-width: calc(100dvw - 4rem);
  font: 900 2.2rem/1.2 var(--font-heading);
  font-size: clamp(1.7rem, 0.7526rem + 4.2105vw, 2.2rem);
  color: #fff;
  margin: 1rem 5rem 1rem 1rem;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.movieInfo h1.movieTitle>span {
  font-size: .8em;
  font-weight: 400;
}

/* Right column */

.movieInfo {
  color: white;
  flex: 1 1 70%;
  padding: 1.2rem;
  font-size: clamp(0.75rem, 0.2763rem + 2.1053vw, 1rem);
}

.movieInfo p {
  margin-bottom: 1rem;
}

.movieInfo a {
  color: white;
  text-decoration: underline;
}

.movieInfoDl {
  margin-bottom: 3rem;
}

.movieInfoDl dt {
  padding: 0.4rem 0 0.2rem 0;
  font-weight: 600;
}

.movieInfoDl dd {
  margin: 0.2rem 0 0.6rem 0;
  padding: 0;
  transition: padding .3s ease-in-out;
  -webkit-transition: padding .3s ease-in-out;
  -moz-transition: padding .3s ease-in-out;
  -ms-transition: padding .3s ease-in-out;
  -o-transition: padding .3s ease-in-out;
}

@media (min-width: 400px) {
  .movieInfoDl dd {
    padding-left: 2rem;
  }
}

@media (min-width: 550px) {
  .movieInfoDl {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
  }

  .movieInfoDl dt {
    grid-column-start: 1;
    min-width: 8rem;
  }

  .movieInfoDl dd {
    grid-column-start: 2;
    padding-left: 0;
  }
}