@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&display=swap');

:root {
  --font-title: 'Orbitron', sans-serif;
  --font-heading: 'Barlow Condensed', sans-serif;
  --font-text: 'Roboto', sans-serif;
  --font-results-title-sm: 500 clamp(0.8rem, -0.0727rem + 4.3636vw, 1.1rem)/1.2 var(--font-heading);
  --font-results-title: 500 1.1rem/1.2 var(--font-heading);
  --font-results-released-sm: 700 clamp(0.7rem, 0.1182rem + 2.9091vw, 0.9rem)/1.2 var(--font-text);
  --font-results-released: 700 .9rem/1.2 var(--font-text);
  --font-results-released-weight: 400;

  --bg-dark: #111;
  --bg-mid: #333;
  --logo-color: #39b421;

  --mdb-font-roboto: "Roboto", sans-serif;
  --mdb-bg-opacity: 1;



  --mdb-red: #f44336;
  --mdb-pink: #e91e63;
  --mdb-purple: purple-500;
  --mdb-indigo: #3f51b5;
  --mdb-blue: #2196f3;
  --mdb-cyan: #00bcd4;
  --mdb-teal: #009688;
  --mdb-green: #4caf50;
  --mdb-yellow: #ffeb3b;
  --mdb-orange: #ff9800;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-gray-50: #fbfbfb;
  --mdb-gray-100: #f5f5f5;
  --mdb-gray-200: #eee;
  --mdb-gray-300: #e0e0e0;
  --mdb-gray-400: #bdbdbd;
  --mdb-gray-500: #9e9e9e;
  --mdb-gray-600: #757575;
  --mdb-gray-700: #616161;
  --mdb-gray-800: #4f4f4f;
  --mdb-gray-900: #262626;
  --mdb-primary: #3b71ca;
  --mdb-secondary: #9fa6b2;
  --mdb-success: #14a44d;
  --mdb-danger: #dc4c64;
  --mdb-warning: #e4a11b;
  --mdb-info: #54b4d3;
  --mdb-light: #fbfbfb;
  --mdb-dark: #332d2d;
  --mdb-primary-rgb: 59, 113, 202;
  --mdb-secondary-rgb: 159, 166, 178;
  --mdb-success-rgb: 20, 164, 77;
  --mdb-danger-rgb: 220, 76, 100;
  --mdb-warning-rgb: 228, 161, 27;
  --mdb-info-rgb: 84, 180, 211;
  --mdb-light-rgb: 251, 251, 251;
  --mdb-dark-rgb: 51, 45, 45;
  /* DARK */
  --mdb-white-rgb: 255, 255, 255;
  --mdb-black-rgb: 0, 0, 0;
  --mdb-body-color-rgb: 79, 79, 79;
  --mdb-body-bg-rgb: 255, 255, 255;
  --mdb-font-sans-serif: "Roboto", sans-serif;
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
  --mdb-body-font-family: var(--mdb-font-roboto);
  --mdb-body-font-size: 1rem;
  --mdb-body-font-weight: 400;
  --mdb-body-line-height: 1.6;
  --mdb-body-color: #4f4f4f;
  --mdb-body-bg: #fff;
  --mdb-border-width: 1px;
  --mdb-border-style: solid;
  --mdb-border-color: #e0e0e0;
  --mdb-border-color-translucent: rgba(0, 0, 0, 0.175);
  --mdb-border-radius: 0.25rem;
  --mdb-border-radius-sm: 0.25rem;
  --mdb-border-radius-lg: 0.5rem;
  --mdb-border-radius-xl: 1rem;
  --mdb-border-radius-2xl: 2rem;
  --mdb-border-radius-pill: 50rem;
  --mdb-link-color: #3b71ca;
  --mdb-link-hover-color: #386bc0;
  --mdb-code-color: #e91e63;
  --mdb-highlight-bg: #fff9c4;
}


html,
body#appBody {
  font-family: var(--font-text);
}

body#appBody {
  overflow: -moz-scrollbars-vertical;
  scrollbar-gutter: stable both-edges;
  background-color: var(--bg-dark);
}

body#appBody.has-modal {
  overflow-y: hidden;
}

main .container-fluid {
  margin: 0 0 .8rem 0;
  padding: 0 .8rem;
  border-top: 1rem solid transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 430px) {
  main .container-fluid {
    margin: 0 0 1.5rem 0;
    padding: 0 1.5rem;
    border-top: 1.5rem solid transparent;
  }
}

.top-logo {
  background-image: url(../images/bg-metal-texture.jpg) !important;
}

.card {
  --mdb-card-border-width: 1px;
  --mdb-card-border-color: var(--mdb-border-color-translucent);
  --mdb-card-border-radius: 0.5rem;
  --mdb-card-box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
  --mdb-card-bg: #272424;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--mdb-card-bg);
  background-clip: border-box;
  border: var(--mdb-card-border-width) solid var(--mdb-card-border-color);
  border-radius: var(--mdb-card-border-radius);
  box-shadow: var(--mdb-card-box-shadow);
  -webkit-border-radius: var(--mdb-card-border-radius);
  -moz-border-radius: var(--mdb-card-border-radius);
  -ms-border-radius: var(--mdb-card-border-radius);
  -o-border-radius: var(--mdb-card-border-radius);
}

.card-header {
  --mdb-card-header-border-width: 1px;
  --mdb-card-header-color: rgba(255, 255, 255, 0.7);
  --mdb-card-header-background-color: #222;
  border-bottom: var(--mdb-card-header-border-width) solid var(--mdb-card-header-color);
  background-color: var(--mdb-card-header-background-color) !important;
}

.card-header h1 {
  font-size: 1.5rem;
  font-size: clamp(1rem, 0.2105rem + 4.2105vw, 1.5rem);
  color: var(--mdb-card-header-color);
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}


.btn-primary {
  background-color: #3b71ca !important;
}

.btn-primary:active,
.btn-primary:hover {
  background-color: #3566b6 !important;
}

.btn-success {
  background-color: #14a44d !important;
}

.btn-success:active,
.btn-success:hover {
  background-color: #129445 !important;
}


.image-missing {
  background: rgba(0, 0, 0, .2) url(../images/no-image.svg) 50% 50% no-repeat;
  background-size: 50%;
  padding-bottom: 150%;
}



.res-item--title {
  font: var(--font-results-title-sm);
  color: rgb(108, 213, 255);
  word-break: break-word;
  overflow: hidden;
  transition: font-size .3s ease-in-out;
  -webkit-transition: font-size .3s ease-in-out;
  -moz-transition: font-size .3s ease-in-out;
  -ms-transition: font-size .3s ease-in-out;
  -o-transition: font-size .3s ease-in-out;
}

.res-item--date {
  font: var(--font-results-released-sm);
  color: rgba(255, 255, 255, 0.8);
  transition: font-size .3s ease-in-out;
  -webkit-transition: font-size .3s ease-in-out;
  -moz-transition: font-size .3s ease-in-out;
  -ms-transition: font-size .3s ease-in-out;
  -o-transition: font-size .3s ease-in-out;
}

.res-item--date .res-item--date-label {
  font-weight: var(--font-results-released-weight);
  margin-right: .5rem;
}

@media screen and (min-width: 430px) {
  .res-item--title {
    font: var(--font-results-title);
  }

  .res-item--date {
    font: var(--font-results-released);
  }
}

.bg-image {
  position: static;
}