.Header {}

.navbar {
  height: 70px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.Header .navbar .container-fluid {
  min-width: 310px;
}

.top-logo {
  font: 900 24px/1 var(--font-title);
  font-size: clamp(1rem, -0.3393rem + 7.1429vw, 2.25rem);
  text-transform: uppercase;
  background: var(--logo-color) repeat;
  background-size: 90px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-blend-mode: luminosity;
  background-position: 50%;
}

@media screen and (min-width: 580px) {
  .top-logo {
    font-size: 36px;
    font-size: clamp(2.25rem, 1.2614rem + 2.7273vw, 2.625rem);
  }
}


.icon {
  font-size: 1rem;
  font-size: clamp(0.8rem, 0.4rem + 2.1333vw, 2rem);
  color: var(--site-yellow);
}

.icon:hover,
.icon:focus,
.icon:active {
  color: var(--site-yellow-dark);
}